
.conheca{
    text-align: center;
    justify-content: center;
    h3{
        padding-top: 200px;
        padding-bottom: 36px;
    }
    ul{
        li{
            list-style: none;
        }
    }
}
.conheca__personagens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}


.conheca__personagens__personagem{

    h4{
        padding-bottom: 12px;
        padding-top: 12px;
    }
    img{
        width: 260px;
        height: 300px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 1023px){
    .conheca__personagens{
        grid-template-columns: 1fr;
    
    }
}


@media screen and (min-width: 1024px) and (max-width: 1366px){
    .conheca__personagens{
        grid-template-columns: 1fr 1fr;
    
    }
}